
Programming/Arduino/ICU Vent/.vs/*
Programming/Arduino/ICU Vent/ICU Vent/Release
Programming/Arduino/ICU Vent/ICU Vent/Debug
Programming/Arduino/ICU Vent/ICU Vent/__vm
Programming/Teensy/ArduinoSlave/.vs/ArduinoSlave/v16/

Programming/Teensy/ArduinoSlave/__vm/
Programming/Teensy/ArduinoSlave/Debug/
Programming/Teensy/ArduinoSlave/Release/